<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LMS Intake Form</title>

    <!--<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">-->



    <!-- Bootstrap core CSS -->
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/img_upload/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link href="assets/custom/css/style.css" rel="stylesheet">

  </head>
  <body class="bg-light">
  <!-- Button trigger modal -->

<div class="container">
  <form class="needs-validation" id="intakeform" th:classappend="${status == 2} ? disabled_form : active_form" novalidate>
    <h2 class="text-center mb-3 pt-4">Intake Form <button type="button" id="modalhint" class="btn btn-circle btn-md" data-toggle="modal" data-target="#exampleModal"><span style="font-size:16px;">?</span></button></h2>
    <div class="row">
      <div class="col-lg-6 form-group col-xs-12">
        <label for="company">Company Name</label>
        <input type="text" class="form-control" id="company" placeholder="required" required>
        <div class="invalid-feedback">
          Please choose a company name.
        </div>
      </div>
      <div class="col-lg-6 form-group col-xs-12">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
        <div class="invalid-feedback">
          Please input email.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group col-xs-12">
        <label for="site">Website</label>
        <input type="text" class="form-control" id="site" placeholder="example.com">
      </div>
      <div class="col-lg-6 form-group col-xs-12">
        <label for="phone1">Phone</label>
        <input type="text" class="form-control" id="phone1" placeholder="(123) 456-7890" required>
        <div class="invalid-feedback">
          Please input phone number.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group col-xs-12">
        <label for="address">Address (or just City)</label>
        <input type="text" class="form-control" id="address" placeholder="required" required>
        <div class="invalid-feedback">
          Please input address.
        </div>
      </div>
      <div class="col-lg-6 form-group col-xs-12">
        <label for="phone2">Cell Phone</label>
        <input type="text" class="form-control" id="phone2" placeholder="(123) 456-7890">
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" placeholder="required" maxlength="500" required></textarea>
        <div class="invalid-feedback">
          Please input short description of your company.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="services">Provided Services</label>
        <textarea class="form-control" id="services" rows="2" placeholder="required" required></textarea>
        <div class="invalid-feedback">
          Please list services that your company provides.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xs-12 form-group">
        <label for="servicearea">Service Area</label>
        <input type="text" class="form-control" id="servicearea" placeholder="optional">
      </div>
      <div class="col-lg-6 col-xs-12 form-group">
        <label for="promovideo">Promo video URL</label>
        <input type="text" class="form-control" id="promovideo" placeholder="optional">
      </div>
      <!--<div class="col-lg-4 col-xs-12 form-group align-self-end">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="logofile">
          <label class="custom-file-label" for="logofile">Logo file</label>
        </div>
      </div>-->
    </div>

    <div class="row">
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-label" type="checkbox" id="reviews">
          <label class="form-check-label" for="reviews">
            Add the ability to leave reviews on my profile
          </label>
        </div>
      </div>
    </div>

      <h3 class="mb-3 pt-3">Social Networks</h3>

    <div class="row">
      <div class="col-lg-4 col-xs-12 form-group">
        <label for="facebook">Facebook</label>
        <input type="text" class="form-control" id="facebook" placeholder="optional">
      </div>
      <div class="col-lg-4 col-xs-12 form-group">
        <label for="instagram">Instagram</label>
        <input type="text" class="form-control" id="instagram" placeholder="optional">
      </div>
      <div class="col-lg-4 col-xs-12 form-group">
        <label for="youtube">You Tube</label>
        <input type="text" class="form-control" id="youtube" placeholder="optional">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-xs-12 form-group">
        <label for="linkedin">LinkedIn</label>
        <input type="text" class="form-control" id="linkedin" placeholder="optional">
      </div>
      <div class="col-lg-4 col-xs-12 form-group">
        <label for="googleplus">Google +</label>
        <input type="text" class="form-control" id="googleplus" placeholder="optional">
      </div>
      <div class="col-lg-4 col-xs-12 form-group">
        <label for="twitter">Twitter</label>
        <input type="text" class="form-control" id="twitter" placeholder="optional">
      </div>
    </div>

    <h3 class="mb-3 pt-3">Images gallery</h3>
    <div class="container img_cont">
      <div class="row">
      <div class="col-lg-3 col-sx-12 imgUp">
        <div class="imagePreview"></div>
          <label class="btn btn-primary_img">
    						Upload<input type="file" class="uploadFile img noLogo" id="img_1" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
    			</label>
        </div><!-- col-2 -->
        <i class="fa fa-plus imgAdd"></i>
      </div><!-- row -->
    </div><!-- container -->

    <h3 class="mb-3 pt-3">Logo image</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sx-12 imgUp">
          <div class="imagePreview"></div>
          <label class="btn btn-primary_img">
            Upload<input type="file" class="uploadFile img" value="Upload Photo" id="logofile" style="width: 0px;height: 0px;overflow: hidden;">
          </label>
        </div><!-- col-2 -->
        <!--<i class="fa fa-plus imgAdd"></i>-->
      </div><!-- row -->
    </div><!-- container -->
    <div class="row">
      <div class="col-lg-4 form-group col-xs-12">
      </div>
      <div class="col-lg-4 form-group col-xs-12">
      </div>
      <div class="col-lg-4 form-group col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>
    </div>

  </form>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 Leading Marketing Solutions. All Rights Reserved</p>
  </footer>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Intake Form Instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please complete this Intake Form so that we can add your Member Profile to our website.
        <br/><br/>
        You can add information, images, and videos to this form. All changes are automatically saved immediately after input. If you are done completing your profile, click "Submit" and we will add your profile to our Member Directory. If you do not complete your profile and wish to return at a later date, you can simply exit out of the page. All of the information that you have entered will be automatically saved for the next time that you return.
        <br/><br/>
        If you have already submitted your form and need to make changes to it, please email our System Administrator at <a href="mailto:christian@lms-plus.com">christian@lms-plus.com</a>. Please include your unique Intake Form url in the body of your email.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script src="assets/dist/js/jquery.js"></script>
    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/img_upload/script.js"></script>
    <script src="assets/custom/js/intakeform.js"></script>

      <!--<script src="form-validation.js"></script>-->
  </body>
</html>
